
:root {
  --primary: #3876e2;
  --secondary:#d5d4d5a9;
 --bg-info: #ebf9fd;
  --gray: #D5D4D5;
  --green: #eefdeb;
  --dark: #402c2c77;
}

html {
	font-size: 16px;
	font-family: "Roboto",sans-serif;
}

body {
	background: var(--dark);
	height: 100vh;
  display: flex;
  padding-top: 160px;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

.accordion-container {
  margin: 0 auto;
  min-width: 330px;
  overflow: hidden;
  height: 450px;
}

.main-item {
  border-radius: 8px;
  padding: 12px;
  display: flex;
  cursor: pointer;
  background: white;
  align-items: center;
  justify-content: start;
  gap: 8px;
  transition: all ease-in-out 0.25s;
}

.main-item:hover {
  background-color: var(--bg-info);
  color: var(--primary);
}

.main-item svg {
  color: var(-secondary);
  transition: all ease-in-out 0.25s;
}

.main-item:hover svg {
  color: var(--primary);
}

.main-item--open {
  border-radius: 8px 8px 0px 0px;
  background-color: var(--primary);
  transition: all 200ms;
  color: var(--green);
}

.main-item--open:hover {
  color:var(--green);
  border-radius: 8px 8px 0px 0px;
  background-color: var(--primary);
}

.main-item--open svg {
  color: white;
}

.main-item--open:hover svg {
  color: white;
}

.accordion-container > ul {
  max-height: 0;
  background-color: var(-secondary);
  list-style-type: none;
  margin: 0;
  padding-left: 14px;
  opacity: 0;
  background-color: var(--bg-info);
  visibility: hidden;
  transition: all ease-in-out 0.2s;
}

.main-item--open + ul {
  visibility: visible;
  max-height: 400px;
  opacity: 1;
  border-radius: 0px 0px 8px 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.accordion-container > ul > li {
  height: 48px;
  display: flex;
  width: 100%;
  align-items: center;
}

.accordion-container > ul > li:hover {
  color: var(--primary);
  cursor: pointer;
}

.expand-icon {
  width: 24px;
  height: 24px;
  margin-left: auto;
}

.main-item--open > .expand-icon {
  transform: rotate(90deg);
}